/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

/*@font-face {
    font-family: sil;
    src: url(/assets/silom.woff);
}
*/

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

body {
    font-family: Ubuntu, sans-serif;
}

a {
    color: white;
}

/* Header
-----------------------------------------------------------------------------*/

header {
    background: #0E6FBE;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

#main-nav {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.with-nav #main-nav {
    animation-name: show;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

.access-aid {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 0;
    padding-top: 40px;
    overflow: hidden;
    border: 1px solid #ccc;
    background: white 10px 10px / 20px 20px no-repeat;
}

/* Middle
-----------------------------------------------------------------------------*/

.welcome {
    background: #0E6FBE;
    color: white;
    height: 60vh;
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 50%;
    text-align: left;

}

.burger-menu {
    margin: 1rem;
}

.logo {
    float: left;
}

.heading {
    grid-column-start: 2;
    align-self: flex-start;
    font-size: 1.5rem;
}


#featured-heading {
    font-size: 2em;
    color: #0E6FBE;
    padding-bottom: 1.5rem;
}

.hi {
    width: 40vw;
    grid-column-start: 2;
    align-self: flex-end;

}


section#community h2 {
    margin-top: 1rem;
}

.content {
    background-color: #666;

    text-align: center;
    color: white;
}

#featured {
    margin-top: 2rem;
    border-radius: 2px;

}
.featured{
    width:100%;
  
}
.featured#first {
    margin-top: 0;
}



h3 {
    font-size: 2rem;
    color: #0E6FBE;

}

#community-icons li {
    display: inline-block;
}

#community-icons {
    margin: 1em 0em 2em 0em;
}

.community-icons {
    width: 80px;
}

#discord {
    width: 90px;
}

.burger-menu {
    display: inline-block;
    cursor: pointer;
}

.bar1, 
.bar2, 
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s ease;
}

.xified .bar1 {
    transform: rotate(-45deg) translate(-9px, 7px);
}

.xified .bar2 {opacity: 0;}

.xified .bar3 {
    transform: rotate(45deg) translate(-8px, -7px);
}




/* Middle Games
---------------------------------------------------------------------------------*/

.icons-small { 

width: 35px;}






/* Footer
-----------------------------------------------------------------------------*/

.footer {
    background: #0E6FBE;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;


}


@media only screen and (min-width: 768px) {
   
    .welcome {
        display: grid;
        display: grid;
        grid-area: social;


    }
    #featured img {
    width: 500px
    }
    
    #featured-heading{
        display: none;
    }

    footer,
    #community {
        clear: left;

    }
    #community {
        grid-area: community;
        background: #0E6FBE;

    }
    h3 {
        color: white;
        font-size:1em;
        text-transform: uppercase;
    }
    #featured {
        grid-area: featured;
    }

    .main {
        display: grid;
        grid-template-columns: 33% 1fr;
        grid-template-rows: 50% 1fr;
        grid-template-areas: "social featured" "community featured";

    }
    .hi {
        width: 50%;
    }
    
    
/* SLIDES */
    
    .slides {
        display: none;
    }
    
    /* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
    .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
    .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
    
    .active, .dot:hover {
  background-color: #717171;
}
    /* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
    
    @-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
    
    
    

}
