/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */


@font-face {
    font-family: sil;
    src: url(/assets/silom.woff);
}

body {
    font-family: sil, sans-serif;
	width: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	background: #0000cc;
    height: 50vh;
    color: #ffffff;
}

.burger-menu-white {
    float: right;
    width: 10%;
    margin: 1rem;
}

#heading {
    transform: translateY(50%);
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#featured-heading {
    font-size: 2rem;
    color: #0000cc;
}

h2 {
    font-size: 1rem;
    color: #0000cc;
}

/* Middle
-----------------------------------------------------------------------------*/
.content { 
    background-color: #ffffff;
    padding: 1.5rem;
    padding-bottom: 0;
    text-align: center;
    color: white;
}

.featured { 
    width: 80%;
    margin-top: 2rem;
}

.featured#first {
    margin-top: 0;
}

#community-icons li {
    display: inline-block;
}

.community-icons {
    width: 50px;
}

#discord {
    width: 65px;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	background: #0000cc;
    color: #ffffff;
    font-size: 1em;
    padding: .5rem; 
}