/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.3;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */


/* GENERAL, !REUSABLE!
-----------------------------------------------------------------------------*/
a{
    text-decoration: none;
}
@font-face {
    font-family: sil;
    src: url(/assets/silom.woff);
}

@keyframes show {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

a {
    color: white;
}

body {
    margin-top: 70px;
    font-family: 'Sintony', sans-serif;
    display: flex;
    flex-flow: column nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6,
#hi {
    font-family: sil;
}


/* THE HEADER
-----------------------------------------------------------------------------*/

.header {
    background: #0E6FBE;
    display: grid;
    grid-template-columns: 5% 5% 1fr 5% 5%;
    grid-auto-rows: auto;
    grid-template-areas:
        ". logo nav burger .";
    align-items: center;
    transition: 0.5s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
}

.burger-menu {
    margin: 1rem;
    margin-right: 0;
    min-width: 35px;
    align-self: baseline;
    grid-area: burger;
    justify-self: end;
}

nav {
    margin-top: -115%;
}

nav.dole {
    margin-top: 0;
}

nav li a {
    text-decoration: none;
    text-transform: uppercase;
}

.logo {
    grid-area: logo;
    font-size: 2rem;
    text-decoration: none;
    color: #fff !important;
    transition: 0.5s ease;
}

.logo.scaled {
    align-self: baseline;
    font-size: 3rem;
}

.burger-menu a.xified {
    align-self: baseline;
}

.header.dole {
    bottom: 0;
}

#main-nav {
    grid-area: nav;
    justify-self: center;
    align-self: center;
}

nav li {
    padding: 1rem;
    text-align: left;
    font-size: 2em;
}

#actual-nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.underlined {
    color: #0E6FBE;
    text-decoration: underline;
    transition: 0.5s ease-in-out;
}

.bar1,
.bar2,
.bar3 {
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s ease;
}

.xified .bar1 {
    transform: rotate(-45deg) translate(-9px, 7px);
}

.xified .bar2 {
    opacity: 0;
}

.xified .bar3 {
    transform: rotate(45deg) translate(-8px, -7px);
}


/* HOME PAGE SPECIFIC
-----------------------------------------------------------------------------*/

.welcome {
    background: #0E6FBE;
    color: white;
    height: 60vh;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 70% 1fr;
    text-align: left;
}

.heading {
    font-size: 1.5rem;
}

#featured-heading {
    font-size: 2em;
    color: #0E6FBE;
    padding-bottom: 1rem;
}

#hi {
    font-size: 6rem;
}

.hi {
    grid-column-start: 2;
    align-self: center;
}

#community h3 {
    font-size: 2rem;
    text-align: center;
    color: #0E6FBE;
}

#featured {
    margin-top: 2rem;
    text-align: center;
}

.community-icons li {
    display: inline;

}

ul.computer {
    display: none;
}

.community-icon {
    width: 10%;
}

.slig,
#left,
#right {
    display: none;
}

.slig img {
    width: 100%;
}

#community {
    display: none;
}


/* GAMES PAGE SPECIFIC
-----------------------------------------------------------------------------*/

.content {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: auto;
    grid-template-areas:
        ". text ."
        ". games .";
}

#sort {
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    cursor: pointer;
    padding: 0.5em 0;
    font-size: 1.3em;
}

#sort li {
    padding-right:0.5em;
}

.invisible {
    animation-name: show !important;
    animation-fill-mode: forwards !important;
    animation-direction: normal !important;
}

.visible {
    animation-name: show;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

#games-heading {
    grid-area: text;
}

.game-picture {
    width: 100%;
    padding: 0.5em;
    padding-left: 0;
    padding-bottom: 0;
}

#games-list {
    grid-area: games;
}

section#games-heading h1 {
    padding-top: 0.5em;
    font-size: 3em;
    
}

h1.h1-gamespage {
    font-size: 2rem;
    color: #0E6FBE;
    border-bottom: 3px solid #0E6FBE;
}

li.invisible {
    display: none !important;
}

li.computer {
    display: none;
}


/* !ONE! GAME PAGE SPECIFIC
-----------------------------------------------------------------------------*/

#game {
    color: #3d3d3d;
    text-align: justify;
    font-family: 'Sintony', sans-serif;
}

#game-title {
    color: #0E6FBE;
    font-size: 1.5em;
    margin: 1rem;
    line-height: 1;
    font-weight: bold;
    text-align: left;
}

strong {
    font-size: 2.5em;

}

iframe {
    display: block;
    margin: auto;
    width: 90vw;
    height: 30vh;
}

p.p-gamepage,
h2.h2-gamepage,
ul.ul-gamepage {
    margin: 1rem;
}

h2.h2-gamepage {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

.linebreak {
    background: #0E6FBE;
    height: 3px;
    margin: 1rem;
}

.specslist {
    display: flex;
    text-align: left;
}

.specsone {
    font-weight: bold;
    display: inline-block;
    width: 50%;
}

#steamstore {

    width: 80%;
    font-size: 1.2em;
    background-color: #1C1C1C;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-transform: uppercase;
    border-radius: 2px;
    margin: 2rem auto;
     display: grid;
    grid-template-columns: 66% auto;
    text-decoration: none;
    text-align: center;
    font-family: 'Sintony', sans-serif;
    justify-items: center;
    align-items: center;


}


#steamstore img {
    width: 50px;
}

p a {
    color: #3d3d3d;
    text-transform: uppercase;
}

.gamegallery img {
    display: block;
    margin: 1rem auto;
    
}

.videoWrapper {
        
        grid-area: video;
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        padding-top: 25px;
        height: 0;
        align-self: center;
        margin:1rem;
    }

    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        
    }

/* ABOUT PAGE SPECIFIC
-----------------------------------------------------------------------------*/
.whatis{
    color:#0e6fbe;
    padding-top:0.5em;
        font-size: 3em;
    line-height: 1;
        margin: 1rem;
        
    }
 .abouticons {
        
        display:grid;
        align-items: center;
        width:90%;
     margin:0 auto;
     
        
        
    }
    
    .abouticons a{
        width:100%;
        background-color: #3D3D3D;
        display:grid;
        grid-template-columns:  1fr 1fr;
        align-items: center;
        justify-items: center;
        text-decoration: none;
        margin:1rem 0;
        border-radius: 2px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
    }
           
    .abouticons a img{
        width:50px;       
    }

  #about-discordicon{
        background-color:#7289da;
    } 
    
    #about-twittericon{
        background-color:#1da1f2;
    }
#about {
    color: #3d3d3d;
    text-align: left;
    font-family: 'Sintony', sans-serif;

}

#aboutheading {
    color: #0E6FBE;
    font-size: 3rem;
    margin: 1rem;
    padding-top: 0.5em;
    font-weight: bold;
    border-bottom: 3px solid #0E6FBE;

}

#about h2 {
    color: #0E6FBE;
    font-size: 2.5rem;
    margin: 1rem;
}

.creator {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'pic name' 'description description';

}

#about p {
    margin: 1rem;
}

.creatorname {
    margin: 0 1rem;
    font-size: 1.55em;
    font-weight: bold;
    font-family: 'Sintony', sans-serif;
}

.creatorintro ul {
    font-size: 0.8em;
}

#about li {
    margin-left: 1rem;
    align-self: flex-start;
    font-size: 1rem;
}

li em {
    font-weight: bold;
}

.creatordescription {
    grid-area: description;

}

h4 {
    margin: 1rem;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Sintony', sans-serif;
    color:#0e6fbe;
}

.creatorintro {
    grid-area: name;
}

.creatorpic {
    grid-area: pic;

    margin-left: 1rem;

}


.creator-text {
    display: none;
}


.kupa {
    opacity: 0;
}







/* NEWS PAGE SPECIFIC
-----------------------------------------------------------------------------*/

#news {
    color: #3d3d3d;
    width: 90%;
    margin: 0 auto;

}

#newsheading {
    margin: 1rem;
    font-family: 'Sintony', sans-serif;
    font-size: 2em;
    color: #0E6FBE;
    font-weight: bold;
}

.newsbutton {
    background-color: whitesmoke;
    width: 100%;
    height: 50px;
    font-family: 'Sintony', sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin: 1rem 0 0;
    border: none;


}

.activebutton {
    background-color: darkgrey;

}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;


}


#twitterfeed {
    border: black 2px;
}


/* THE FOOTER
-----------------------------------------------------------------------------*/

.footer {
    background: #0E6FBE;
    color: #ffffff;
    font-size: 0.6rem;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
}

.icons-small {
    width: 35px;
}


/* END OF THE PHONE VERSION
-----------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) {

    /* NAV
    -----------------------------------------------------------------------------*/

    .header {
        grid-template-columns: 50px 5% 1fr 50px;
        grid-template-areas:
        ". logo nav .";
        grid-area: header;
    }

    .burger-menu {
        display: none;
    }

    nav {
        margin-top: 0;
    }

    nav li {
        padding: 0;
        padding-left: 1rem;
        font-size: 1rem;
        
    }

    nav li a:hover {
        text-decoration: underline;
    }

    #actual-nav {
        flex-flow: row nowrap;
    }

    #actual-nav li:first-of-type {
        display: none;
    }

    #main-nav {
        justify-self: end;
    }


    /* GAMES PAGE SPECIFIC
    -----------------------------------------------------------------------------*/

    #game-tiles {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1rem;
        grid-row-gap: 0.5rem;
    }

    li.phone {
        display: none;
    }
    
    li.computer {
        display: block;
        box-shadow:0 1px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
    }
    
    li.computer:hover {
        transform: translateY(-1%) translateX(-1%);
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.32), 0 2px 6px rgba(0, 0, 0, 0.23);
        transition: 0.3s ease;
    }


    /* GENERAL REUSABLE
    -----------------------------------------------------------------------------*/
    body {
        margin-top: 41px;
    }
    
    .footer {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: center;
    }
    
    .footer small {
        padding: 1rem
    }
    
    .footer div {
        padding: 1rem;
    }
    
    .footer br {
        display: none;
    }
    
    footer .community-icon {
    width: 30px;
    }
    
    footer .community-icons {
        margin: 0;
        margin-right: 1rem;
    }


    /* MAIN PAGE SPECIFIC
    -----------------------------------------------------------------------------*/

    .welcome {
        grid-area: welcome;
        height: 100%;
    }
    
    .emptiness {
        grid-area: emptiness;
    }
    
    #dots {
        text-align: center;
    }
    
    #left,
    #right {
        display: block;
        width: 0;
        height: 0;
        position: relative;
        z-index: 2;
    }
    
    #left {
        left: 5%;
        border-top: 10px solid transparent;
        border-right: 20px solid #0E6FBE;
        border-bottom: 10px solid transparent;
    }
    
    #right {
        left: 90%;
        border-top: 10px solid transparent;
        border-left: 20px solid #0E6FBE;
        border-bottom: 10px solid transparent;
    }
    
    #featured {
        grid-area: featured;
        margin: 0;
        display: flex;
        flex-flow: column nowrap;
    }
    
    section#featured ul {
        grid-area: pic;
    }
    
    #community {
        display: block;
        text-align: center;
        grid-column-start: 2;
    }
    
    #twitter {
        display: none;
    }
    
    ul.phone {
        display: none;
    }
    
    ul.computer {
        display: block;
    }

    #featured-heading {
        display: none;
    }
    
    article#community h3 {
        color: white;
        font-size: 1em;
        text-transform: uppercase;
    }

    .main {
        height: calc(100vh - 86px);
        display: grid;
        grid-template-columns: 40% 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "welcome featured"
            "emptiness emptiness";
    }


    /* SLIDES */
    
    .slides {
        display: none;
    }
    
    .phoney {
        display: none;
    }

    /* Next & previous buttons */
    
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    
    /* Polygon */

position: absolute;
width: 114px;
height: 63px;
left: 720px;
top: 471px;

background: #0E6FBE;
border: 5px solid #FFFFFF;
box-sizing: border-box;
transform: rotate(-89.8deg);


    .active,
    .dot:hover {
        background-color: #717171;
    }
    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }


    /* ABOUT PAGE SPECIFIC*/
    #about{
        margin:0 50px;
        
        
    }
    
    .whatis{
        padding-top: 0;
        margin-left:0;
        
    }
    
    #about h2{
        margin: 2em 0 1em;
    }
    .aboutintro{
        margin-top:3em;
        display:flex;
        flex-flow:row nowrap;
        border-bottom: 3px #0e6fbe;
    }
    .aboutintro2{
        align-items: center;
        width:75%
       
        
    }
    
    #about p{
        margin-left:0;
    }
    .abouticons {
        
        display:grid;
        align-items: center;
        width:25%;
        
        
    }
    .abouticons a{
        width:100%;
        background-color: #3D3D3D;
        display:grid;
        grid-template-columns:  1fr 1fr;
        align-items: center;
        justify-items: center;
        text-decoration: none;
        border-radius: 2px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
    }
           
    .abouticons a img{
        width:50px;       
    }
    
    
    #about-discordicon{
        background-color:#7289da;
    } 
    
    #about-twittericon{
        background-color:#1da1f2;
    }
    
    
    .creator-text {
        display: block;
    }

    .profiles {
        
        display: grid;
        grid-template-columns:1fr 50px 1fr;
        grid-template-rows: 1fr 50px 1fr;
        grid-template-areas: " SYX . MegaFire " " Bob . Buttington ";
    }

    .linebreak {
        display: none;
    }

    #creator1 {
        grid-area: SYX;
    }

    #creator2 {
        grid-area: MegaFire;
    }

    #creator3 {
        grid-area: Bob;
    }
    #creator4 {
        grid-area: Buttington;
    }

    #creator3 {
        padding-top: 2.1rem;
    }

    #creator4 {
        padding-top: 2.1rem;
    }

    #creatordescription4 {
        padding-bottom: 4.5rem;
    }

    .creatorpic {
        width:90%;
        margin-left:0;
    }
    /*gamepage--------------------*/
    #effin-grid {
        display: grid;
        grid-template-columns: 50px 1fr 50px 1fr 50px;
        grid-template-rows: 1fr 1fr auto;
        grid-template-areas: ". khimera . video" ". description . video" ". specs . steam";
    }

    h2.h2-gamepage{
        margin-top: 0;
    }
    
    #game-title {
        grid-area: khimera;
        font-size: 2em;
        margin-bottom: 0;
    }
.videoWrapper {
        margin:0rem;
    }

    

    .hero-text {
        grid-area: description;
        
    }

    .text-game {
        grid-area: specs;
        align-self: flex-end;
    }

    #steamstore {
        grid-area: steam;
        align-self: flex-end;
        width:100%;
    }


    
    .gamegallery{
        display:flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        grid-row-start: 2;
        grid-area: pictures;
        
    }
    
    .gallery{
        margin-top: 3em;
        display:grid;
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: auto auto auto auto auto;
        grid-row-gap: 10px;
        grid-template-areas: 
        ". gallery ."
        ". pictures ."
        ". patchnotes ."
        ". patchnotes2 ."
        ". manual ."
        ". download .";
    }
    
    #galleryheading{
        grid-area:gallery;
        border-top: 3px solid #0E6FBE;
        padding-top: 1rem;
    }
    
    #patchnotes{
        grid-area:patchnotes;
        border-top: 3px solid #0E6FBE;
        padding-top: 1rem;
         
    }
    #patchnotes2{
        grid-area:patchnotes2;
    }
    
    #manual{
        grid-area:manual;
        border-top: 3px solid #0E6FBE;
        padding-top: 1rem;
        margin: 1rem;
    }
    
    #download{
        grid-area:download;
        
    }
}
